<f:layout name="Default" />

<f:section name="content">
<p>{f:translate(key: "euleo.description")}</p>
<f:if condition="{install_done}">
    <f:then>
        <f:link.action action="howto" controller="Euleo">{f:translate(key: "euleo.howto")}</f:link.action>
        <h2>{f:translate(key: "select.export")}</h2>
            <table class="typo3-dblist">
			    <tr>
			        <th class="t3-row-header">{f:translate(key: "filename")}</th>
			        <th class="t3-row-header">{f:translate(key: "file.creationdate")}</th>
			    </tr>
			    <f:for each="{exports}" as="export">
			        <tr>
			            <td><f:link.action action="send" controller="Euleo" arguments="{filename : export.filename}">{export.filename}</f:link.action></td>
			            <td>{export.mtime}</td>
			        </tr>
			    </f:for>
			</table>
			
			<h2>{f:translate(key: "download.export")}</h2>
			<table class="typo3-dblist">
			    <tr>
			        <th class="t3-row-header">{f:translate(key: "filename")}</th>
			        <th class="t3-row-header">{f:translate(key: "file.creationdate")}</th>
			        <th class="t3-row-header">{f:translate(key: "translation.ready")}</th>
			    </tr>
			    <f:for each="{translatedExports}" as="export">
			        <tr>
			            <td>
			                <f:if condition="{export.ready}">
                                <f:then>
			                        <f:link.action action="download" controller="Euleo" arguments="{export : export}">{export.filename}</f:link.action>
			                    </f:then>
			                    <f:else>{export.filename}</f:else>
			                </f:if>
			            </td>
			            <td><f:format.date format="d.m.Y H:i">@{export.date}</f:format.date></td>
			            <td>
			                <f:if condition="{export.ready}">
			                    <f:then>{f:translate(key: "yes")}</f:then>
			                    <f:else>{f:translate(key: "no")}</f:else>
			                </f:if>
			            </td>
			        </tr>
			    </f:for>
			</table>
    </f:then>
    <f:else>
		<h2>{f:translate(key: "euleo.howto.connect")}</h2>
        <ul class="tx-howtolist">
            <f:if condition="{install_step2done}">
                <f:then>
                    <li>
                        {f:translate(key: "euleo.howto.install.step2")}
                        <f:image src="EXT:euleo/Resources/Public/check.png" alt="x" />
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:link.action action="installstep2" controller="Euleo">{f:translate(key: "euleo.howto.install.step2")}</f:link.action>
                        <f:image src="EXT:euleo/Resources/Public/uncheck.png" alt="o" />
                    </li>
                </f:else>
            </f:if>
            <f:if condition="{install_step3done}">
                <f:then>
                    <li>
                        {f:translate(key: "euleo.howto.install.step3")}
                        <f:image src="EXT:euleo/Resources/Public/check.png" alt="x" />
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:if condition="{install_step2done}">
                            <f:then>
                                <f:link.action action="installstep3" controller="Euleo">{f:translate(key: "euleo.howto.install.step3")}</f:link.action>
                            </f:then>
                            <f:else>
                                {f:translate(key: "euleo.howto.install.step3")}
                            </f:else>
                        </f:if>
                        <f:image src="EXT:euleo/Resources/Public/uncheck.png" alt="o" />
                    </li>
                </f:else>
            </f:if>
            <f:if condition="{install_step4done}">
                <f:then>
                    <li>
                        {f:translate(key: "euleo.howto.install.step4")}
                        <f:image src="EXT:euleo/Resources/Public/check.png" alt="x" />
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:if condition="{install_step2done}">
                            <f:then>
                                <f:link.action action="installstep4" controller="Euleo">{f:translate(key: "euleo.howto.install.step4")}</f:link.action>
                            </f:then>
                            <f:else>
                                {f:translate(key: "euleo.howto.install.step4")}
                            </f:else>
                        </f:if>
                        <f:image src="EXT:euleo/Resources/Public/uncheck.png" alt="o" />
                    </li>
                </f:else>
            </f:if>
            <f:if condition="{install_step5done}">
                <f:then>
                    <li>
                        {f:translate(key: "euleo.howto.install.step5")}
                        <f:image src="EXT:euleo/Resources/Public/check.png" alt="x" />
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:link.action action="installstep5" controller="Euleo">{f:translate(key: "euleo.howto.install.step5")}</f:link.action>
                        <f:image src="EXT:euleo/Resources/Public/uncheck.png" alt="o" />
                    </li>
                </f:else>
            </f:if>
            <f:if condition="{install_connectdone}">
                <f:then>
                    <li>
                        {f:translate(key: "euleo.howto.install.connect")}
                        <f:image src="EXT:euleo/Resources/Public/check.png" alt="x" />
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:link.action action="connect" controller="Euleo">{f:translate(key: "euleo.howto.install.connect")}</f:link.action>
                        <f:image src="EXT:euleo/Resources/Public/uncheck.png" alt="o" />
                    </li>
                </f:else>
            </f:if>
        </ul>
	</f:else>
</f:if>
</f:section>