<f:layout name="Default" />

<f:section name="content">
<h2>{f:translate(key: "euleo.howto.install.step5")}</h2>
<p>Durch den Callback werden die Übersetztungen in das XML-File übernommen.</p>
<p>Um den Callback einzurichten sind folgende Schritte durchzuführen:
<ul class="tx-howtolist">
    <li>Legen Sie eine Seite mit dem Titel &quot;Euleocallback&quot; als Unterseite von id=1 an.</li>
    <li>Aktivieren Sie im Reiter &quot;Zugriff&quot; bei &quot;In Menüs&quot; das Häkchen &quot;Verbergen&quot;, damit die Seite nicht in der Navigation aufscheint.</li>
    <li>Fügen Sie auf der Seite das Plug-In &quot;Euleo&quot; hinzu.</li>
    <li>Aktivieren Sie nun diese Seite.</li>
</ul>
</p>

<div id="backlink">
    <f:link.action action="index" controller="Euleo">{f:translate(key: "backlink")}</f:link.action>
</div>
</f:section>