<f:layout name="Default" />

<f:section name="content">
<h2>{f:translate(key: "euleo.howto.install.step4")}</h2>
<p>Um mit dem L10N-Manager Exporte erstellen zu können, benötigt dieser eine Konfiguration.</p>
<p>Wie Sie diese Konfiguration erstellen, entnehmen Sie bitte der <a href="../typo3conf/ext/l10nmgr/doc/manual.sxw">L10N-Manager Dokumentation</a> unter &quot;Creating a Localization Manager configuation&quot;.

<div id="backlink">
    <f:link.action action="index" controller="Euleo">{f:translate(key: "backlink")}</f:link.action>
</div>
</f:section>